<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1><a href="/user/home/">HOME</a> </h1>
{% if state %}
    {{ state }}
{% else %}
hello @
    <p>values.0 : {{ data.values.0 }}</p>
    <p>values.1 : {{ data.values.1 }}</p>
    <p>adder: {{ data.adder }}</p>
    <p>members: {{ data.members }}</p>
    <p>Welcome to {{ data.occasion }} at {{ data.date }}</p>
    <p>{{ error }}</p>
        {% if 'total_expense' in data and 'total_paid' in data %}
        <p>Total Expense: {{ data.total_expense }}</p>
        <p>Total Paid: {{ data.total_paid }}</p>
     {% endif %}
    <br><br>
    <form method="post" action="."  class="login">{% csrf_token %}
        <table border="1">
            <thead>
                <tr>
                    <td>Members</td>
                    <td>Expenditure</td>
                    <td>Paid at Bill</td>
                </tr>
            </thead>
            <tbody>
            {%   for user,ex,pd in data.values  %}
                <tr>
                    <td>{{ user }}</td>
                    <td><input type="number" id="expense" name="expense"  maxlength="6" value="{{ ex }}"></td>
                    <td><input type="number" id="paid" name="paid" maxlength="6" value="{{ pd }}"></td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="3"><input type="submit" name="submit" value="save"></td>
                </tr>
            </tbody>
        </table>
        {% comment %}<button type="submit" class="login-button">Proceed</button>{% endcomment %}
    </form>
{% endif%}
</body>
</html>