<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>All Transactions</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
@import url("/static/userhome/css/style.css");
-->
</style>
<script type="text/javascript" src="/static/userhome/js/cufon-yui.js"></script>
<script type="text/javascript" src="/static/userhome/js/arial.js"></script>
<script type="text/javascript" src="/static/userhome/js/cuf_run.js"></script>
<script type="text/javascript">
    function callforconfirm()
    {
        if(!confirm("Proceeding to Logout..."))
         return false;

    }
</script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="#">Bank of<span> Wolf Pack</span><small>transparent solutions</small></a></h1>
      </div>
      <div class="clr"></div>
        <div class="article" style="padding-left: 38px">
     </div>

      <div class="menu_nav">
        <ul>
          <li><a href="/user/home/">Home</a></li>
          <li class="active"><a href="/users/alltrans">All Events</a></li>
          <li><a href="/user/addtrans">Add Event</a></li>
        </ul>
       <h3 class="user">Hey, {{ user }}!</h3>
      </div>
        <hr>
    </div>

  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
        <div class="clr"></div>
          <h2><span>Events</span></h2>
            <div class="searchform">
          <form id="formsearch" name="formsearch" method="post" action=".">{% csrf_token %}
            <span>
            <input name="editbox_search" class="editbox_search" value="{{ search_item }}" id="editbox_search" maxlength="80" placeholder="Search events" type="text" />
            </span>
            <input name="button_search" src="/static/alltrans/search_btn.gif" class="button_search" type="image" />
          </form>
        </div>
          <div class="clr"></div>
          <p><span class="date">As on</span> {{ today }}</p>
        {% if not transactions and not search_item%}
            <h3> <span>No events found in record!</span></h3>
            {% elif not transactions and search_item %}
            <h3> <span>No events found for your search!</span></h3>
            {% else %}
          <table id="gradient-style" style="width: 112%" summary="Meeting Results">
            <thead>
    	        <tr>
        	        <th scope="col">Select</th>
                    <th scope="col">Occasion</th>
                    <th scope="col">Date</th>
                    <th class="tooltip">*Total Expense<span class="help">*All values in<img alt="INR" src="/static/userhome/img/rupee.png" align="top" height="20" width="20"></span></th>
                    <th scope="col">Added By</th>
                    <th scope="col">Latest Activity</th>
                </tr>
            </thead>
    <tbody>
            {% for trans,total in transactions %}

                        <tr>
                            <td><input type="checkbox" id="select" name="select"></td>
                            <td><a href="{% url 'bank.views.showtrans' trans.matterID trans.id %}">{{ trans.matterID }}</a></td>
                            <td>{{ trans.matterdate }}</td>
                            <td>{{ total }}</td>
                            <td>{% if trans.adder == user %}me{% else %}{{ trans.adder }}{% endif %}</td>
                            <td>{{ trans.date }}</td>
                        </tr>

            {% endfor %}
    </tbody>
</table>

        {% endif %}
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Navigation</span></h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="/user/home/">Home</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/inbox">MailBox</a>&nbsp;{% if msg_count != 0 %}<span class="msgcount">{{ msg_count }}</span>{% endif %}</li>
            <li><a href="/user/logout" onclick="return callforconfirm();">Logout</a></li>
          </ul>
        </div>
      </div>

      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
