<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>jQuery UI Tabs - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
   <style type="text/css">
@import url("/static/userhome/css/style.css");
</style>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
</head>
<body>

<div id="tabs">
  <ul>
  <li><a href="#tabs-1">Tab 1</a></li>
	<li><a href="#tabs-2">Tab 2</a></li>
	<li><a href="#tabs-3">Tab 3</a></li>
  </ul>
  <div id="tabs-1">
	<h2>{{ message }}</h2>
<h1>Hi,{{ user }}</h1>
<h1 class="trans">My Transactions</h1>
<h1>
    <a class="trans" href="/users/alltrans">All Transactions</a>&nbsp;
    <a class="trans" href="/user/addtrans">Add Transaction</a>&nbsp;
    <a href="/user/logout">Logout</a>&nbsp;
    <a href="/users/testalltrans">Test ALL TRans</a>
</h1>
<table id="gradient-style" summary="Meeting Results">
    <thead>
    	<tr>
        	<th scope="col">Occasion</th>
            <th scope="col">Date</th>
            <th scope="col">Expenses*</th>
            <th scope="col">Paid at Location*</th>
            <th scope="col">Paid at Bank*</th>
            <th scope="col">Added By</th>
        </tr>
        <tr>
        	<td colspan="6">Click on the Occasion to view details</td>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td align="left" colspan="6">*All values are in<img alt="rupee" src="/static/userhome/img/rupee.png" align="top" height="20" width="20"></td>
        </tr>
    </tfoot>
    <tbody>
            {% for entry,trans in rows %}

                        <tr>
                            <td><a href="{% url 'bank.views.showtrans' trans.matterID %}" >{{ trans.matterID }}</a></td>
                            <td>{{ trans.matterdate }}</td>
                            <td>{{ entry.amt_spent }}</td>
                            <td>{{ entry.amt_paid }}</td>
                            <td>{{ entry.paid_to_bank }}</td>
                            <td>{{ trans.adder }}</td>
                        </tr>

            {% endfor %}
    </tbody>
</table>
  </div>
  <div id="tabs-2">
	<p>tab two content.</p>
  </div>
  <div id="tabs-3">
	<p>tab three content.</p>
  </div>
</div>

</body>
</html>